In [19]:

%cd hp/OneDrive/Desktop/Zine_project1/rec-temporal-gnn/

c:\Users\hp\OneDrive\Desktop\Zine_project1\rec-temporal-gnn

c:\Users\hp\OneDrive\Desktop\Zine_project1\.venv\lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [21]:
import pandas as pd
df = pd.read_csv("data/processed/ratings_all.csv")
df.head(10)

   user_id  movie_id  rating  timestamp
0        0         0       4  956703932
1        0         1       5  956703954
2        0         2       4  956703954
3        0         3       4  956703977
4        0         4       5  956703977
5        0         5       4  956704056
6        0         6       5  956704056
7        0         7       5  956704056
8        0         8       3  956704056
9        0         9       4  956704056